<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
    </head>
    <body>
        <header>
            <h1>{{ .Title }}</h1>
            <p>Files: {{ (len .Files) }}</p>
        </header>

        <main>
            <ul class="file-list">
                {{ range .Files }}
                <li class="file-item">
                    <div class="file-info">
                        <span class="file-name"
                            >{{ if .Description }}{{ .Description }}{{ else }}{{
                            .Name }}{{ end }}</span
                        >
                        <span class="file-meta">
                            Download:
                            <span class="counter" data-file-id="{{ .ID }}"
                                >—</span
                            >
                        </span>
                    </div>
                    <form
                        class="download-form"
                        action="/file/{{ .ID }}/"
                        method="POST"
                    >
                        <button type="submit">Download</button>
                    </form>
                </li>
                {{ end }}
            </ul>
        </main>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            (function ($) {
                const COUNTERS_UPDATE_INTERVAL = 30;
                const COUNTERS_UPDATE_DELAY = 1;

                let updateInterval;
                let isPageVisible = true;

                $(document).ready(function () {
                    loadCounters();
                    startAutoUpdate(COUNTERS_UPDATE_INTERVAL);

                    $(".download-form").submit(function (event) {
                        setTimeout(() => {
                            loadCounters();
                        }, COUNTERS_UPDATE_DELAY * 1000);
                    });

                    $(document).on("visibilitychange", function () {
                        isPageVisible = !(
                            document.visibilityState === "hidden"
                        );
                        if (isPageVisible) {
                            loadCounters();
                            if (!updateInterval) {
                                startAutoUpdate(COUNTERS_UPDATE_INTERVAL);
                            }
                        } else {
                            stopAutoUpdate();
                        }
                    });
                });

                function startAutoUpdate(
                    intervalSeconds = COUNTERS_UPDATE_INTERVAL,
                ) {
                    if (updateInterval) {
                        clearInterval(updateInterval);
                    }

                    updateInterval = setInterval(() => {
                        if (isPageVisible) {
                            loadCounters();
                        }
                    }, intervalSeconds * 1000);
                }

                function stopAutoUpdate() {
                    if (updateInterval) {
                        clearInterval(updateInterval);
                        updateInterval = null;
                    }
                }

                function loadCounters() {
                    const apiUrl = "/stat/{{.ID}}/";

                    $.getJSON(apiUrl, function (data) {
                        if (data) {
                            $("[data-file-id]").each(function (idx, el) {
                                const id = $(el).attr("data-file-id");
                                if (data.hasOwnProperty(id)) {
                                    $(el).text(data[id]);
                                }
                            });
                        }
                    }).fail(function () {
                        console.error(
                            "Не удалось загрузить статистику скачиваний.",
                        );
                        $("[data-file-id]").text("х");
                    });
                }
            })(jQuery);
        </script>
    </body>
</html>
