<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <style>
            body .markdown-content h1,
            body .markdown-content h2,
            body .markdown-content h3 {
                margin-top: 1.5rem;
                margin-bottom: 1rem;
            }
            body .markdown-content p {
                line-height: 1.6;
            }
        </style>
    </head>
    <body>
        <div class="container mt-4">
            <header class="p-4 p-md-5 mb-4 rounded-3 bg-light">
                <div class="container-fluid py-3">
                    <h1 class="display-5 fw-bold">{{ .Title }}</h1>
                </div>
            </header>

            <main>
                <div class="markdown-content">{{ .ContentHTML }}</div>
            </main>

            <footer class="text-center text-muted mt-5 mb-3">
                <p>&copy; {{ .Title }}</p>
            </footer>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <script>
            ;(function ($) {
                var COUNTERS_UPDATE_INTERVAL = 30
                var COUNTERS_UPDATE_DELAY = 1
                var updateInterval
                var isPageVisible = true

                $(document).ready(function () {
                    var distributionId = {{ .ID }};
                    if (!distributionId) {
                        console.error("Downloa ID not found");
                        return;
                    }
                    var apiUrl = '/stat/' + distributionId + '/';

                    loadCounters(apiUrl);
                    startAutoUpdate(apiUrl, COUNTERS_UPDATE_INTERVAL)

                    $('.download-form').submit(function (event) {
                        setTimeout(function () {
                            loadCounters(apiUrl)
                        }, COUNTERS_UPDATE_DELAY * 1000)
                    })

                    $(document).on('visibilitychange', function () {
                        isPageVisible = !(document.visibilityState === 'hidden');
                        if (isPageVisible) {
                            loadCounters(apiUrl);
                            if (!updateInterval) {
                                startAutoUpdate(apiUrl, COUNTERS_UPDATE_INTERVAL);
                            }
                        } else {
                            stopAutoUpdate();
                        }
                    })
                })

                function startAutoUpdate(apiUrl, intervalSeconds) {
                    intervalSeconds = intervalSeconds || COUNTERS_UPDATE_INTERVAL
                    if (updateInterval) {
                        clearInterval(updateInterval)
                    }
                    updateInterval = setInterval(function () {
                        if (isPageVisible) {
                            loadCounters(apiUrl)
                        }
                    }, intervalSeconds * 1000)
                }

                function stopAutoUpdate() {
                    if (updateInterval) {
                        clearInterval(updateInterval)
                        updateInterval = null
                    }
                }

                function loadCounters(apiUrl) {
                    $.getJSON(apiUrl, function (data) {
                        if (data) {
                            $('[data-file-id]').each(function (idx, el) {
                                var id = $(el).attr('data-file-id')
                                if (data.hasOwnProperty(id)) {
                                    $(el).text(data[id])
                                }
                            })
                        }
                    }).fail(function () {
                        console.error('Cannot get download statistics.');
                        $('[data-file-id]').text('х');
                    })
                }
            })(jQuery)
        </script>
    </body>
</html>

{{ define "FILE" }}
<div
    class="list-group-item d-flex justify-content-between align-items-center mb-2"
>
    <div class="me-3">
        <div class="fw-bold">
            {{ if .Description }}{{ .Description }}{{ else }}{{ .Name }}{{ end
            }}
        </div>
        <div class="text-muted small">
            Downloads:
            <span
                class="counter badge bg-secondary rounded-pill"
                data-file-id="{{ .ID }}"
            >
                —
            </span>
        </div>
    </div>

    <form class="download-form" action="/file/{{ .ID }}/" method="POST">
        <button type="submit" class="btn btn-primary btn-sm flex-shrink-0">
            Скачать
        </button>
    </form>
</div>
{{ end }} {{ define "FILES" }}
<div class="list-group">{{ range . }} {{ template "FILE" . }} {{ end }}</div>
{{ end }}
